<header>
        <nav>
                <a href="javascript:void(0)" class="active" (click)="goToHome($event)">Home</a>
                <a href="javascript:void(0)" (click)="goToUpload($event)">Sell</a>
                <a href="javascript:void(0)" (click)="goToBuy($event)">Buy</a>
                <a href="javascript:void(0)" (click)="goToContact($event)">Contact</a>
                <a href="javascript:void(0)" (click)="goToCart($event)">Cart</a>
                <a href="javascript:void(0)" (click)="goToChat($event)">Chat</a>

        </nav>
</header>
